.wrapper-box{
    display: flex;
    gap: 10px;
    align-items: center;
}

.user ,.heart , .basket{
    color: #fff;
    font-size: 20px;
    transition: .4s;
}



.user:hover{
    color: #fe5915;
}

.heart:hover{
    color: #fe5915;
}

.basket:hover{
    color: #fe5915;
}

.basket-wrapper {
    position: relative;
    display: inline-block;
}

.basket-count {
    position: absolute;
    top: -8px;
    right: -10px;
    background-color: #FE5915;
    color: white;
    font-size: 15px;
    padding: 2px 5px;
    border-radius: 50%;
    font-weight: bold;
}
